<!-- About Section -->
    <section id="about">
        <div class="container" align="left" style="width:33%">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted"></h3>
                <p class="text-muted">Develop Data-Driven-Solutions applying cutting-edge research.</p>
                <p class="text-muted">Transfer Research Findings to real-world cases.</p>
                <p class="text-muted">Develop marked-oriented solutions.</h3></p>
        </div>
    </section>
