<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Informationsservice</h2>
                    <h3 class="section-subheading text-muted">Verarbeitung von Big Data im Bereich der Fern-
erkundungsdaten unter Einsatz moderner Artificial Intelligence- und Machine Learning-Methoden in der Cloud.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">Data Collection</h4>
                    <p class="text-muted">Datenquellen sind Fernerkundungs-, Wetter- und Social Media-Daten</p>
                    <p class="text-muted">Klassifizierung von Rohdaten.</p>
                    <p class="text-muted"></p>
                    <p class="text-muted">Einsatz von Geodatenbanken</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Data Processing</h4>
                    <p class="text-muted">Erkennung von Mustern in großen Datenmengen mit selbstlernenden Algorithmen und in der Kombination verschiedener Datenquellen.</p>
                    <p class="text-muted">Fokus auf den Bereich Bilderkennung und Bildverarbeitung (Computer Vision) von Fernerkundungsdaten (Remote Sensing Data).</p>
                    <p class="text-muted">Einsatz selbstadaptiver Deep Learning- und Machine Learning-Algorithmen.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading"></h4>
                    <p class="text-muted"></p>
                </div>
            </div>
        </div>
    </section>
